*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}




body{
    font-size: 18px;
    font-family: Calibri,Arial,Times New Roman;
    background-color: #fff;
    /*background-image: url(social-media-423857__340.jpg);
    backface-visibility: all;*/

}
.header{
    width: 1140px;
    margin: 20px auto 10px auto;
    padding: 30px;
    font-size: 40px ;
    text-align: center;
    background-image: url(bg-image.jpg);
    background-size: cover;
    color: whitesmoke;
    font-weight: 500;


}

.container{
    width: 1140px;
    margin: 20px auto 10px auto;
    position:relative ;

}

.article{
    width: 75%;
    display: inline-block;
    float: left;
    padding-right: 30px;
}


.clearfix{
    content: "";
    display: table;
    clear: both;
}


h1,h2{
    color: #F28F0C; 
    font-weight: 200;
}

h1{
     font-size: 50px;
    margin-bottom: 20px;
}





h2{
    font-size: 30px;
    margin-bottom: 10px;
}



.article_text{
    text-align: justify;
    margin: 20px 0;

}

.articale_img{
    height: auto;
    width: 100%;
}

.blog-post{
    margin-bottom:15px ;

}

.other-posts{
    width: 25%;
    display: inline-block;
    margin-top: 25%;
}

.other-posts img{
    width: 80%;
    height: 250px;
}

.other-title{
    font-size: 19px;
    color: orangered;
    text-decoration: none;
    text-transform: uppercase;

}
.hh{
    border-top: 2px solid #808080;
   
}
.auth{
    height: 4%;
    width: 8%;
    border-radius: 50%;
    float: left;
}

.footer p {
    width: 60%;
    margin-left:20px ;
    text-align: justify;
    display: inline-block;

}

.social-link{
    width: 20px;
    height: 20px;
    margin: 5px;
}

.social-media{
    position: fixed;
    top: 10px;
    right: 2px;

}

